<div class="jumbotron">
    <div class="headerStyle">
        <img src="../img/about.png"/>

        about...

    </div>
    <div class="page header">
        <br>
        <div class="headerStyleLight">
            What is Markeasy?
        </div>

        <!--<img src="img/trans.png"/>-->
        <p>

            Markeasy is a unified task grading system. It offers a smart mistakes cataloging for the testing teams, with
            much ease and fairness. <br>
            the system will enhance testing correctness and capabilities using : <br>

        <ul>
            <li>
                quick normalization of common mistakes.
            </li>
            <li>
                real time mistakes analysis.

            </li>
            <li>
                display statistics and decency suggestions.

            </li>

        </ul>


        </p>

        <p>
            all these will be accompanied by a fast, responsive user interface, to allow testing staff to work as
            quickly
            and as fair as possible.

        </p>

        <div class="headerStyleLight yellowText">

            Software Architecture
        </div>

        <p>
            MEAN stack : <br>

            <strong>
                MongoDB
            </strong> is the leading NoSQL database, empowering businesses to be more agile and scalable.
            <br>
            <strong>Express</strong> is a minimal and flexible node.js web application framework, providing a robust set
            of features for
            building single and multi-page, and hybrid web applications.
            <br>
            <strong>AngularJS</strong> lets you extend HTML vocabulary for your application. The resulting environment
            is extraordinarily
            expressive, readable, and quick to develop.
            <br>
            <strong>Node.js</strong> is a platform built on Chrome's JavaScript runtime for easily building fast,
            scalable network
            applications.
            <br>
            The project will we deployed at first on a local host and at a later stages uploaded to azure.
        </p>
    </div>
</div>
