<div class="jumbotron">
    <!-- Page Heading -->
    <div class="row">

        <div class="headerStyle">
            <img src="../img/dash.png"/>
            Landing page
        </div>

        <div class="headerStyleLight">
                    <i class="fa fa-dashboard"></i>
                    Welcome to Markeasy
        </div>
        <div class="text-center">
            404 - Nothing to see here
            Just kidding. There's plenty to see on Markeasy. Why not
            try a search, or take a look at our Popular files?

        </div>
    </div>

</div>
</div>
